h1{
    /* using colour names */
    /* color: blube; */
    font-size: 35px;
    /* background-color:red; */
    text-transform: uppercase;
    /* rgb */
    /* color: rgb(125,125,125) */
    /* hexadecimal */
    color:#fff;)
}
body{
    background-color:rgb(0,0,0)
}

p{
    color: #ffff00;
}

div {
    color:white;
    height: 200px;
    width: 200px;
    background-color:rgba(255, 0, 0,05);
    
}