<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<h1>This is about layouts</h1>
<div style="background-color: yellow;">Muna</div>
<div style="background-color: blue;">Ali</div>
<span style="background-color: green;">Ridwaan</span>
<Span style="background-color: blueviolet;">Idman</Span>
<p style="background-color: aqua;">Mahad</p>
</body>

</html>